<%= form_for @tweet do |f| %>

  <div class="field">
    <%= f.text_area :tweet, autofocus: true, placeholder: "つぶやき", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.submit "投稿", class: "btn btn-lg btn-block btn-warning" %>
  </div>
<% end %>