<div class="row">

  <div class="w-100 text-center mb-4">
    <% if user_signed_in? && current_user.executive? %>
      <%= link_to '編集', edit_event_calender_path, class: "btn btn-sm btn-outline-dark mr-2" %>
      <%= link_to '削除', event_calender_path, class: "btn btn-sm btn-outline-dark", method: :delete,"data-confirm" => "本当に消しますか？" %>
    <% end %>
  </div>

  <div class="calender-show mb-4 w-100 text-center has-shadow-1">
    <h3 class="event-title mb-0">
      <%= @event_calender.title %>
    </h3>

    <hr>
    
    <div class="event-content">
      <p>【活動内容】</p>
      <p class="text-left"><%= safe_join(@event_calender.content.split("\n"), tag(:br)) %></p>
    </div>
  </div>

</div>