/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

// Common

body {
  color: #555;
  font-family: 'Lato', sans-serif;

  &:before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100vh;
    background: radial-gradient(ellipse at center, rgba(255,255,255,0) 40%,rgba(255,255,255,0.5) 60%,rgba(255,255,255,1) 100%),url(top1.jpg) center no-repeat;
    background-size: cover;
  }
}

.container {
  margin-top: 80px;
  background-color: rgba(255,255,255,0.7);
  min-height: 100vh;
}


.row {
  margin: 0 auto;
  padding: 20px 0;
}

a {
  color: #555;
}

li {
  list-style: none;
}

.tc-5 {
  color: #555;
}

.has-shadow-1 {
  box-shadow: 0px 6px 20px 0px #a1a1a1;
}

// header

.header-logo {
  height: 50px;
  border-radius: 100%;
}

.fa-bars {
  font-size: 30px;
}

.nav-item {
  img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }

  .navbar-toggler {
    font-size: 1rem;
  }
}

// footer

.footer {
  margin-top: auto;
}

// AboutPage

.about {

  .carousel {
    width: 100%;
    padding: 50px 0;
  }

  .carousel-item {
    img {
      width:100%;
      max-width: 100%;
      height: auto;
      padding: .25rem;
      border: 1px solid #dee2e6;
      border-radius: .25rem;
    }
  }

  em.motto {
    font-size: 20px;
  }

  span {
    color: red;
  }

  .event-content {
    li {
      list-style: circle;
    }
    p {
      font-size: 13px;
      padding-left: 20px;
      margin-top: 5px;
    }
  }
}

// event-index

.acd-content {
  background-color: rgba(255, 193, 7, 0.5);
  border-width: 0 3px 3px;
  border: solid rgba(255, 193, 7, 0.5);
  border-radius: 0.3rem;
  padding: 10px;

  img {
    width: 100%;
  }

}

// event-show

.event-head {
  font-size: 12px;

  a {
    font-size: 12px;
  }
}

.comment-avatar {
  position: relative;

  img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
}

.text-area {
  height: 38px;
  border-radius: 0.25rem;
}

// table

.table {
  text-align: center;
  img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0 auto;
  }

}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
  }

// user-show

.profile-image {
  img {
    width: 100px; 
    height: 100px;
    border-radius: 100%;
  }
}

// form

.form-header {
  background-color: #ecf0f1;
  border-bottom: 1px solid #ecf0f1;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.form-body {
  padding: 15px;
  background-color: #ffffff;

}

.field {
  margin-bottom: 15px;

  .number {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  }

  textarea {
    height: 250px;
  }
}


/* ボタン全体 */
.flowbtn12{
  font-family:'Verdana',sans-serif;	
  border-radius: 4px;
  display:inline-block;
  width:90%;
  font-size:20px;
  transition:.4s;	
  text-decoration:none;
  }
  /* ボタン内テキストマウスホバー時 */
  .flowbtn12:hover{
  color:#fff!important;
  text-decoration:none;
  }
  /* Twitter */
  .flowbtn12.fl_tw2{
  border:solid 1px #55acee;
  color:#55acee;
  }
  /* Twitterマウスホバー時 */
  .flowbtn12.fl_tw2:hover{
  border:solid 1px #55acee;
  background:#55acee;
  }
  /* Instagram */
  .flowbtn12.insta_btn2{
  border:solid 1px #c6529a;
  color:#c6529a;
  }
  /* Instagramマウスホバー時 */
  .flowbtn12.insta_btn2:hover{
  border:solid 1px #c6529a;
  background:#c6529a;
  }
  /* LINE */
  .flowbtn12.fl_li2{
  border:solid 1px #00c300;
  color:#00c300;
  }
  /* LINEマウスホバー時 */
  .flowbtn12.fl_li2:hover{
  border:solid 1px #00c300;
  background:#00c300;
  }
  /* ボタン内テキスト調整 */
  .flowbtn12 span{
  font-size:14px;	
  position:relative;
  left:8px;
  bottom:2px;	
  }
  /* ulタグの内側余白を０にする */
  ul.snsbtniti2{
  padding:0!important;
  }
  /* ボタン全体の位置 */
  .snsbtniti2{
  display:flex;
  flex-flow:row wrap;
  }
  /* ボタン同士の余白 */
  .snsbtniti2 li{
  flex:0 0 48%;
  text-align:center !important;
  margin-bottom: 10px;
  }

// home

.cta {

  .btn {
    width: 48%;
    color: #fff;
    border-bottom: 4px solid rgba(0,0,0,0.15);

    &:hover {
      opacity: 0.8;
    }

    &:active {
      transform: translateY(4px);
      border-bottom: none;
    }
  }

  .login-btn {
    background-color: #F89FA1;
  }

  .sign-up-btn {
    background-color: #40C0CB;
  }

  .about-btn {
    background-color: #C02942;
  }

  .event-btn {
    background-color: #1693A5;
  }
}

.fa-angle-double-down , .fa-angle-double-up{
  color: orange;
}


// tweet-index 

.tweet-index {
  img {
    width: 40px; 
    height: 40px;
    border-radius: 100%;
  }
}

.tweet-name {
  font-size: 15px;
}

.tweet-date {
  font-size: 11px;
}

// tweet-show

.tweet-user {
  img {
    height: 30px;
    width: 30px;
  }
}

// Calender 

.simple-calendar {

  width: 100%;

  img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }

  .calendar-title {
    font-size: 30px;
  }

  .day {
    font-size: 10px;
    height: 50px;
  }

  th {
    font-size: 10px;
    padding: 0;
    text-align: center;
    background: #a1a1a1;
  }

  th:nth-last-child(2) {
    color: blue;
  }

  th:last-child {
    color: red;
  }


  td {
    padding: 0;
    background: #fff;
  }

  .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: top;
}

  .wday-0 {
    color: red;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    color: blue;
  }

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

// calender-index


.main {
  position: relative;

  img {
  background: center no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: auto;
  }
}

.caption {
  position: absolute;
  padding: 20px 10px;
  color: #fff;
  top: 0; 
  left: 0;
  background: rgba(0,0,0, 0.3);
  width: 100%;
  height: 100%;

  h1 {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 15px #000;
    margin-top: 5px;
  }
  p {
    font-size: 15px;
  }

  a {
    border-bottom: 4px solid rgba(0,0,0,0.15);
    font-size: 15px;


    &:active {
      transform: translateY(4px);
      border-bottom: none;
    }
  }

}

.calender-index {
  .calender-img {
    height: 20px;
    width: 20px;
    border-radius: 100%;
  }
  span {
    font-size: 12px;
  }
}

// calendar-show

.calender-show {
  background-color: #fff;
  border-width: 0 3px 3px;
  border: solid rgba(173,170,170,0.5);
  border-radius: 0.3rem;
  padding: 10px;

}





