/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";



body {
  background: radial-gradient(ellipse at center, rgba(255,255,255,0) 40%,rgba(255,255,255,0.5) 60%,rgba(255,255,255,1) 100%),url(top1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  line-height: 1.5;
  color: #555;
  font-family: 'Lato', sans-serif;
}

.container {
  margin-top: 80px;
}

a {
  color: #555;
}

.tc-5 {
  color: #555;
}

.carousel {
  width: 100%;
  padding: 50px 0;
}


.carousel-item img {
  width:100%;
  max-width: 100%;
  height: auto;
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
}

.tac {
  text-align: center;
}


.navbar {
  border: 1px solid #EEE;
}

.header-logo {
  height: 50px;
  border-radius: 100%;
}

.fa-bars {
  font-size: 30px;
}

.top {
  background-color: rgba(255,255,255,0.7);
}

.content {
  h1 {
    font-family: 'Londrina Shadow', cursive;
    font-size: 150px;
  }
}



// event-index

.acd-content {
  background-color: rgba(255, 193, 7, 0.5);
  border-width: 0 3px 3px;
  border: solid rgba(255, 193, 7, 0.5);
  border-radius: 0.3rem;
  padding: 10px;

  img {
    width: 100%;
  }

}


// event-show

.event-head {
  font-size: 12px;

  a {
    font-size: 12px;
  }
}

.comment-avatar {
  position: relative;

  img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
}

.mr-auto {
  text-align: left;
}

.delete {
  white-space: nowrap;
}

.comment-form {
  width: 100%;
}

.text-area {
  height: 38px;
  border-radius: 0.25rem;
}


// user-index 

.table {
  text-align: center;
  img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0 auto;
  }

}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
  }

.search {
  padding: 15px;
  border: 1px solid  #ecf0f1;

}

// user-show

.profile {
  text-align: center;
}

.profile-image {
  img {
    border-radius: 100%;
  }
}

// user-edit

.profile-edit {
  color: #333333;
  border: 1px solid #ecf0f1;
}

// common

.form-header {
  background-color: #ecf0f1;
  border-bottom: 1px solid #ecf0f1;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.has-shadow-1 {
  box-shadow: 0px 6px 20px 0px #a1a1a1;
}

.form-body {
  padding: 15px;
  background-color: #ffffff;

}



.row {
  margin: 0 auto;
  padding: 20px 10px;
}

.field {
  margin-bottom: 15px;

  .number {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  }

  textarea {
    height: 250px;
  }

}


.nav-item {
  img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }

  .navbar-toggler {
    font-size: 1rem;
  }
}











