/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";



body {
  background: radial-gradient(ellipse at center, rgba(255,255,255,0) 40%,rgba(255,255,255,0.5) 60%,rgba(255,255,255,1) 100%),url(top1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  line-height: 1.5;
  color: #555;
  font-family: 'Lato', sans-serif;
}

.container {
  margin-top: 60px;
  text-align: center;
}

.carousel {
  width: 100%;
  padding: 50px 0;
}


.carousel-item img {
  width:100%;
  max-width: 100%;
  height: auto;
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
}

a {
  color: #555;
}


.navbar {
  border: 1px solid #EEE;
  background-color: #fff;
}

.logo {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #EEE;
}

.header-logo {
  height: 50px;
}

// .row {
//   background-color: rgba(255,255,255,0.7);
// }

.top {
  background-color: rgba(255,255,255,0.7);
}

.content {
  h1 {
    font-family: 'Londrina Shadow', cursive;
    font-size: 150px;
  }
}



// event-index

.event-head {
  width: 100%;
}

.event-index {
  width: 100%;
}

.event-title {
  font-size: 40px;
} 


.acd-content {
  text-align: center;
  height: auto;
  width: 100%;
  background-color: rgba(255, 193, 7, 0.5);
  border-width: 0 3px 3px;
  border: solid rgba(255, 193, 7, 0.5);
  border-radius: 0.3rem;

  .img {
    width: 95%;
    height: auto;
  }

  .event-detail {
    color: #555;
  }
}


// event-show

.event-content {
  text-align: left;
  padding: 0 25px;
}

.comment-list {

  width: 100%;
 
    li {
      list-style: none;
    }
}


.comment-avatar {
  position: relative;
  // top: 20px;
  // left: -35px;
  // width: 100%;
  // height: auto;
  // padding: 4px;
  // border: 1px solid #dddddd;
  // background: #fff;

  img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
}

.mr-auto {
  text-align: left;
}

.delete {
  white-space: nowrap;
}

.comment-form {
  width: 100%;
}

.text-area {
  height: 38px;
  border-radius: 0.25rem;
}


// user-index 

.table {
  img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0 auto;
  }

}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
  }

.search {
  padding: 10px;
  border: 1px solid #EEE;

  .field {
    margin-bottom: 10px;
  }

  label {
    margin-bottom: 0;
  }

  .gender {
    input {
      margin-left: 10px;
    }
  }

}

// user-show


.profile-image {
  img {
    border-radius: 100%;
  }
}










